# Dependencies
node_modules/
.pnpm-store/

# Production build
dist/

# Local env files containing secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs & System files
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

.vercel
